{% extends "base.html" %}

{% block title %} Iniciar Sesion {% endblock %}

{% block content %}
<hr>
<div class="row">
    <div class="col-6">
        <div id="forms-container">
            <!-- Formulario de inicio de sesión -->
            <form id="loginForm" class="border border-light p-5 bg-light" method="post">
                {% csrf_token %}
                <p class="h4 mb-4">Iniciar Sesión</p>
                <input type="email" name="email" class="form-control mb-4" placeholder="Correo Electrónico">
                <input type="password" name="password" class="form-control mb-4" placeholder="Contraseña">
                <button class="btn btn-success btn-block my-4" type="submit">Iniciar Sesión</button>
                <p class="mt-2 text-center">
                    ¿No tienes una cuenta? <a href="/acceso/registro" class="text-success">Regístrate</a>
                </p>
            </form>
        </div>
    </div>
</div>

{% endblock %}