<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Recetas Saludables{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>
<body class="bg-success-subtle">
    <div class="container mt-3">
    <div class="b-example-divider"></div>

    <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <h1 class="text-success fw-bold">Recetas saludables.com</h1>
        </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'index' %}" class="nav-link px-2 link-secondary text-success">Inicio</a></li>
        <li><a href="{% url 'agregar_receta' %}" class="nav-link px-2 text-success">Nueva receta</a></li>
        <li><a href="{% url 'inicio' %}" class="nav-link px-2 text-success">Mis recetas</a></li>
        </ul>

        <div class="col-md-3 text-end">
        <a type="button" href="{% url 'logout' %}" class="btn btn-outline-success me-2">Cerrar sesion</a>
        </div>
    </header>
    </div>
        {% block content %}
        {% endblock %}
    </div>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>


        toastr.options = {
            "closeButton": true,
            "progressBar": true
        }

        {% if messages %}
        {% for message in messages %}
            toastr.{{ message.tags }}('{{ message }}', 'Mensaje del sistema!');
        {% endfor %}
        {% endif %}

    </script>


    {% block scripts %}
    {% endblock %}
</body>
</html>
